<div class="center text-center">
    {{#if selectedIcon}}
        <span class="fa fa-{{selectedIcon}}" style="font-size: 70px;"></span>
    {{else}}
        <span class="fa fa-{{row.content.icon}}" style="font-size: 70px;"></span>
    {{/if}}
</div>
