<div class="comment-detail">
    <span><h5>{{row.content.firstname}}: <i>Subject of message</i></h5></span>
        <p style="text-align: justify; line-height: 20px;">
            Your email: <b>{{row.content.email}}</b><br />
            <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae faucibus tortor.
            Cras finibus ex augue, ac sollicitudin metus interdum quis. Donec laoreet pulvinar nisi, nec condimentum odio molestie vitae.
            Vivamus urna ex, hendrerit at orci ut, molestie porta massa.
            Fusce mattis facilisis dui, vulputate blandit ex sagittis vulputate</i>
        </p>
    <a href="/message/detail" class="red-skin">Detail</a>
    <a href="/message/new?reply=1" class="red-skin">Reply</a> <i>Date : 25-09-2016</i>
</div>