<div style="margin-top: 50px">
  <div class="col-xs-12">
    <div class="widget">
      <div class="recent-comment-sec">
        <div class="widget-title">
          <h3>Casting invitations</h3>
        </div>
        <ul>
          <li>
            <div class="recent-comment">
              <div class="comments-avatar">
                <img src="http://dummyimage.com/77x77/ff0000/292929&text=Company Logo" alt="" />
              </div>
              <div class="comment-detail">
                <span><a href="#" title="">Casting number 1 title</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae faucibus tortor. Cras finibus ex augue, ac sollicitudin metus interdum quis. Donec laoreet pulvinar nisi, nec condimentum odio molestie vitae.</p>
                {{#link-to "casting.apply" class="red-skin"}}Apply{{/link-to}} <i>Date : 25-5-2013</i>
              </div>
            </div>
          </li>
          <li>
            <div class="recent-comment">
              <div class="comments-avatar">
                <img src="http://dummyimage.com/77x77/292929/ff6600&text=Company Logo" alt="" />
              </div>
              <div class="comment-detail">
                <span><a href="#" title="">Casting number 2 title</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae faucibus tortor. Cras finibus ex augue, ac sollicitudin metus interdum quis. Donec laoreet pulvinar nisi, nec condimentum odio molestie vitae.</p>
                <a href="#" title="" class="red-skin">Apply</a> <i>Date : 25-5-2013</i>
              </div>
            </div>
          </li>
          <li>
            <div class="recent-comment">
              <div class="comments-avatar">
                <img src="http://dummyimage.com/77x77/ff6600/292929&text=Company Logo" alt="" />
              </div>
              <div class="comment-detail">
                <span><a href="#" title="">Casting number 3 title</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae faucibus tortor. Cras finibus ex augue, ac sollicitudin metus interdum quis. Donec laoreet pulvinar nisi, nec condimentum odio molestie vitae.</p>
                <a href="#" title="" class="red-skin">Apply</a> <i>Date : 25-5-2013</i>
              </div>
            </div>
          </li>
          <li>
            <div class="recent-comment">
              <div class="comments-avatar">
                <img src="http://dummyimage.com/77x77/0000ff/ff6600&text=Company Logo" alt="" />
              </div>
              <div class="comment-detail">
                <span><a href="#" title="">Casting number 4 title</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae faucibus tortor. Cras finibus ex augue, ac sollicitudin metus interdum quis. Donec laoreet pulvinar nisi, nec condimentum odio molestie vitae.</p>
                <a href="#" title="" class="red-skin">Apply</a> <i>Date : 25-5-2013</i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
