<br><br><br><br>
<div class="row">
  <div class="col-md-8 field">

  </div>
  <div class="col-md-2 field">
    {{#sl-button class="tp-button purple right m-b" bubbles=false action='backToPrevious' }}
      <span class="fa fa-arrow-left"></span> {{t 'general.back'}}
    {{/sl-button}}
  </div>
</div>
<div class="row">
  <div class="col-md-10 field">
    <h3>Place fro terms of use text</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien tortor, facilisis id elit ut, cursus mattis mauris. Nulla semper pharetra ipsum, vel posuere sapien gravida eu. Sed sollicitudin finibus felis porttitor pharetra. Nam dui urna, ultricies sit amet nisi sed, fermentum porttitor mi. Mauris eu ultrices odio. Etiam imperdiet a tortor et molestie. Maecenas semper efficitur lorem, sed consequat magna accumsan eget. Sed ornare diam sed enim congue ullamcorper. Aliquam ornare imperdiet nulla non rutrum. Fusce id lorem fringilla, convallis arcu eget, mattis nunc. Nam ornare ut diam ullamcorper eleifend. Nullam vulputate libero enim, nec auctor turpis tempus sed. Proin pulvinar aliquam augue, nec dignissim risus fringilla ac. Ut dapibus sed justo faucibus commodo. In ac mattis justo. Quisque in tortor quis risus consectetur pharetra.</p>
    <p>Donec ac pretium dui, in ultrices ligula. In quis luctus risus. Sed et varius justo. Suspendisse viverra nulla id dictum laoreet. Nullam ac nunc libero. Donec tempus fringilla iaculis. In placerat velit quis nisi euismod, nec convallis arcu sagittis. Fusce tincidunt nibh vitae quam sagittis volutpat. Donec lacus urna, ornare a tortor ac, lacinia sollicitudin tortor. Etiam bibendum, eros eget semper ultrices, elit justo finibus neque, ut congue magna quam at est. Integer venenatis velit quam, non euismod dolor ornare convallis. Morbi imperdiet sollicitudin risus. Sed consequat metus euismod dui lacinia pharetra. Proin ut eleifend erat. Quisque imperdiet luctus imperdiet.</p>
  </div>
</div>
