

<div class="panel-content m-t">

    <div class="row">
        <div class="col-xs-12 m-t">

            <div class="widget borders">

                <div class="widget-padding">

                    <div class="widget-title">
                        <h3 class="p-t-lg">{{t 'agent.actor.list.new'}}</h3>
                        {{#sl-button class="tp-button purple right m-b" bubbles=false action='backToPrevious'}}
                            <span class="fa fa-arrow-left"></span> {{t 'general.back'}}
                        {{/sl-button}}
                    </div>

                    <div class="account-form">

                        {{actor-register-form user=model errorMessage=errorMessage}}

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

